@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

/* ブログカード */
cite.wp-embedded-content {
  display: block;
  font-size: small;
  text-align: left;
  margin: .5em auto;
}

.wp-embed {
  padding: 1em;
  border: 1px solid #e5e5e5;
  word-wrap: break-word;
  width: 100%;
  max-width: 600px;
  color: #82878c;
  background-color: #fff;
  line-height: 1.5;
  display: block;
  border-radius: 2px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  zoom: 1;
  text-decoration: none;
}

.wp-embed::after {
  content: "";
  display: table;
  clear: both;
}

.wp-embed-heading {
  color: #000;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 1.4;
  display: block;
}

.blogcard-image-info-wrap {
  margin-bottom: 1em;
  display: block;
}

.wp-embed-featured-image {
  float: left;
  max-width: 150px;
  height: auto;
  margin: 0 1em 1em 0;
}

.blogcard-info {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  overflow: auto;
}

.wp-embed-excerpt {
  margin-bottom: 0;
  font-size: small;
  overflow: auto;
  display: block;
}

.blogcard-more-wrap {
  margin: 1em 0;
  text-align: center;
  overflow: auto;
  display: block;
}

.blogcard-more {
  padding: .5em;
  font-size: 9pt;
  border-radius: 2px;
  border: 1px solid;
  color: #000;
  background-color: #fff;
  display: block;
}

.wp-embed-footer {
  display: table;
  width: 100%;
  margin-top: 1em;
}

.blogcard-siteinfo,
.wp-embed-comments,
.site_icon,
.wp-embed-site-title {
  display: table-cell;
  line-height: 1;
  font-size: 16px;
}

.site_icon {
  padding-right: .2em;
}

.wp-embed-comments {
  text-align: right;
}

.dashicons {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  -webkit-transition: background .1s ease-in;
  transition: background .1s ease-in;
  position: relative;
  top: 5px;
}

.dashicons-admin-comments {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M5%202h9q.82%200%201.41.59T16%204v7q0%20.82-.59%201.41T14%2013h-2l-5%205v-5H5q-.82%200-1.41-.59T3%2011V4q0-.82.59-1.41T5%202z%27%20fill%3D%27%2382878c%27%2F%3E%3C%2Fsvg%3E");
}

@media screen and (min-width: 480px) {
  .blogcard-image-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogcard-more-wrap {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  /* min-480px END */
}

/*

For Editor

*/
.wp-embed {
  margin: 0;
  width: inherit;
}

.wp-embed-heading {
  margin: 1em 0;
}

.wp-embed-featured-image img {
  width: 100%;
  height: auto;
  border: none;
}

.wp-embed-share-dialog,
.screen-reader-text,
.wp-embed-share {
  display: none;
}

.wp-embed-comments {
  display: inline;
}
