@import './inline.scss';
@import './style.scss';

amp-img img {
  -o-object-fit: cover;
  object-fit: cover;
}
/* ビデオのリンク消す */
.wp-video a {
  display: none;
}
/* amp-sidebar */
// #sidebar .amp-adsense {
//   margin: 0 0 1.5em;
// }
/* AMPページのコメントボタン */
.comments-from-amp {
  border-radius: 4px;
  border: 1px #f2f2f2 solid;
}
/* 旧アプリーチ */
#appreach-image {
    float: left;
    margin: 10px;
    width: 25%;
    max-width: 120px;
    border-radius: 10%;
    display: block;
}
.appreach-info {
    margin: 10px;
}
#appreach-developer,#appreach-price,.appreach-powered {
    font-size: 80%;
    display: inline-block;
}
.appreach-links {
    float: left;
}
#appreach-itunes-link,#appreach-gplay-link {
    display: inline-block;
}
#appreach-itunes-link amp-img,#appreach-gplay-link amp-img {
    height: 40px;
    display: block;
}
.appreach-footer {
    margin-bottom: 10px;
    clear: left;
}
/* 新アプリーチ */
.appreach__aslink amp-img,.appreach__gplink amp-img {
    display: inline-block;
}
/* Gutenberg */
.wp-block-cover, .wp-block-cover-image {
    position: relative;
    background-color: #000;
    background-size: cover;
    background-position: center center;
    min-height: 430px;
    width: 100%;
    margin: 0 0 1.5em 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}
.wp-block-cover-image.has-background-dim::before, .wp-block-cover.has-background-dim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: .5;
    z-index: 1;
}
.wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text, .wp-block-cover h2, .wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 610px;
    padding: 14px;
    text-align: center;
}
.wp-block-file a.wp-block-file__button:active, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited {
    box-shadow: none;
    color: #fff;
    opacity: .85;
    text-decoration: none;
}
.wp-block-file .wp-block-file__button {
    background: #32373c;
    border-radius: 2em;
    color: #fff;
    font-size: 13px;
    padding: .5em 1em;
}
.wp-block-media-text {
    display: grid;
    grid-template-rows: auto;
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas: "media-text-media media-text-content";
    grid-template-columns: 50% auto;
}
.wp-block-media-text.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    grid-template-columns: auto 50%;
}
.wp-block-media-text .wp-block-media-text__media {
    grid-area: media-text-media;
}
.wp-block-media-text>figure>amp-img, .wp-block-media-text>figure>video {
    vertical-align: middle;
}
.wp-block-media-text .wp-block-media-text__content {
    word-break: break-word;
    grid-area: media-text-content;
    padding: 0 8% 0 8%;
}
.wp-block-gallery {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 16px)/ 2);
}
.wp-block-gallery .blocks-gallery-image:nth-of-type(even), .wp-block-gallery .blocks-gallery-item:nth-of-type(even) {
    margin-right: 0;
}
.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    margin: 0;
    height: 100%;
}
.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image amp-img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item amp-img {
    height: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.wp-block-gallery .blocks-gallery-image amp-img, .wp-block-gallery .blocks-gallery-item amp-img {
    width: auto;
}
.has-large-font-size {
    font-size: 36px;
}
.has-huge-font-size {
    font-size: 42px;
}
.has-small-font-size {
    font-size: 13px;
}

@media (max-width: 600px) {
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 100%;
        grid-template-areas: "media-text-media" "media-text-content";
    }
/* max-600px END */
}
