@import './base';

/////////////////////////////
////////// dev /////////////
////////////////////////////

#site-top,
.media-section {
	&::after {
		content: "";
		position: absolute;
		bottom: -3px;
		width: 100%;
	}
}

#site-bottom,
.media-section {
	&::before {
		content: "";
		position: absolute;
		top: -3px;
		width: 100%;
	}
}

////////////////////////////
///////// SVG ///////////
////////////////////////////

.svg-wrap {
	height: 0;
	padding-top: calc(200 / 1200 * 100%);
}

////////////////////////////
///////// scroll ///////////
////////////////////////////

.scroll-container {
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.sctoll-content {
	white-space: nowrap;
}

.leftbutton,
.rightbutton {
	[data-button="floating"] {
		cursor: pointer;
	}
}

.t-50 {
	top: 50%;
}

////////////////////////////
////////// init ////////////
////////////////////////////

.alignfull {
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
	width: auto;
	max-width: none;
}

#h1 {
	font-size: 30px;
	line-height: 1.4;
	font-weight: 500;
}

.section-break {
	opacity: 0.2;
}

[data-text="ellipsis"] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.children {
	padding-left: 30px;
	width: 100%;
}

.fa,
.far,
.fas,
.fab {
	letter-spacing: .1em;
}

//////////////////////////////////////////////////////////////////
/////// button    ///////////////////////////////////////////////
/////// reference: https://materializecss.com/buttons.html ///////
/////////////////////////////////////////////////////////////////
$button_base_size: 56px;

[data-button="floating"],
.f-button {
	width: $button_base_size;
	height: $button_base_size;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.l-f-button {
	width: $button_base_size * 1.5;
	height: $button_base_size * 1.5;
}

//参考： https://codepen.io/john052/pen/qdRapO

[data-button="submit"],
#submit {
	position: relative;
	overflow: hidden;
	color: #ffffff;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border: none;
	text-decoration: none;

	&::before {
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.6);
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
	}

	&:focus::before {
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		opacity: 0;
		width: 160px;
		height: 160px;
		margin-top: -80px;
		margin-left: -80px;
	}

	&.outline {
		border: 1px solid;
		background: 0 0;
		box-shadow: none
	}
}

/////////////////////////////////
//////////// widget ////////////
////////////////////////////////

.widget-4536 {

	iframe,
	img {
		display: block;
		margin: 0 auto;
	}

	&:not(.widget-style-box-4536) .ad {
		width: 100%;
	}
}

/////////////////////////////////
//////////// header ////////////
////////////////////////////////

#header-container {
	max-width: 2048px;

	.title {
		letter-spacing: .1em;
	}
}

.header-logo {
	max-height: 48px;
}

.global-nav {
	z-index: 5;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;

	.menu-item {
		font-size: 14px;
		margin-right: 18px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}

		a {
			opacity: 0.8;
			display: block;

			&[aria-current="page"] {
				opacity: 1;
				font-size: 110%;
				border-bottom: 4px solid;
				padding-bottom: 8px;
			}
		}
	}

	.sub-menu {
		display: none;
	}
}

#header-slide-button {
	margin-left: auto;
}

//ヘッダー縮小

.fixed-top {
	position: fixed;
	left: 0;
	right: 0;
	box-shadow: 0 1px 10px;
	z-index: 5;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

/////////////////////////////////
//////////// meta ////////////
////////////////////////////////

.meta {
	letter-spacing: 0.5px;
	font-size: 0.8em;
	opacity: 0.7;
}

/////////////////////////////////
////////// thumbnail ///////////
////////////////////////////////

.post-thumbnail {
	img {
		-o-object-fit: cover;
		object-fit: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: 100%;
	}
}

//アイキャッチ
.post-thumbnail-shape {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

//////////////////////////////
////////// article //////////
//////////////////////////////
.article-body {

	h2,
	h3,
	h4,
	h5 {
		position: relative;
		margin: 1.5em auto;
		line-height: 1.4;
		clear: both;
	}
}

//////////////////////////////
//////////// card ////////////
//////////////////////////////

.card-wrap {
	max-width: 400px;
}

.card {
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;

	.post-thumbnail img {
		border-radius: 5px 5px 0 0;
	}

	.card-meta {
		border-top: 1px solid #ccc;
		font-size: 12px;
	}

	.new-post {
		letter-spacing: 0.1em;
		background-color: #ff0000;
		border-radius: 2px;
	}
}

/////////////////////////////
////////// author ///////////
/////////////////////////////

.author-content {
	border-radius: 5px;
}

.author-avatar {
	left: 50%;
	box-shadow: 0 2px 5px;
	margin: -40px 0 0 -40px;
	border-radius: 50%;
	overflow: hidden;
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {

	#contents-wrapper,
	#sidebar {
		padding: 16px;
	}

	/* max-480px END */
}

/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
	/* min-480px END */
}

/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
	.alignwide {
		margin-left: -16px;
		width: calc(100% + 32px);
		max-width: none;
	}

	html,
	#main-column,
	#site-bottom {
		overflow-x: hidden;
	}

	.ad {
		flex-basis: 100%;

		&:nth-child(2) {
			margin-top: 1em;
		}
	}

	#slide-menu {
		padding: 10px 10px 60px;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		position: fixed;
		width: 85%;
		z-index: 20;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: 0.2s ease-out;
		transition: 0.2s ease-out;

		.amp-adsense,
		.widget_ad_widget,
		amp-ad[type="adsense"],
		ins.adsbygoogle {
			display: none !important;
		}
	}

	.close-button {
		display: -webkit-box;
		display: flex;
	}

	#page-links,
	#pagination {
		[data-button="floating"] {
			width: 46px;
			height: 46px;
		}
	}

	#fixed-footer-menu {
		display: -webkit-box;
		display: flex;
	}

	.fixed-footer {
		padding-bottom: calc(env(safe-area-inset-bottom) - 1em);
		z-index: 3;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	}

	/* max-767px END */
}

/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {
	#sidebar .md6 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.alignwide {
		margin-left: -24px;
		width: calc(100% + 48px);
	}

	.double-rectangle-wrapper .ad {
		flex-basis: calc(50% - 1em);
		max-width: 336px;
		min-height: 280px;
		height: auto;
	}

	.double-rectangle-wrapper .ad-left {
		margin: 0 1em 0 0;
	}

	//グラデーションシェイプ
	.gradation-object::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 800px;
		height: 800px;
		border-radius: 2000px;
	}

	#post-title::after {
		left: -140px;
		top: -210px;
	}

	// #main-container::after {
	//   right: -140px;
	//   bottom: -24px;
	// }
	/* min-768px END */
}

/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {

	#header-image,
	.container,
	.inner {
		max-width: 980px !important;
	}

	/* max-1024px END */
}

/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {
	#header-nav {
		overflow-x: inherit;

		.menu-item-has-children {
			display: -webkit-box;
			display: flex;

			&::after {
				content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+");
			}

			&:hover {
				.sub-menu {
					width: 100%;
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 1;
					white-space: normal;

					.menu-item {
						width: 100%;
					}

					a {
						display: block;
						box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
						padding: 8px;
					}
				}
			}
		}
	}

	#sidebar {
		width: 320px;
		border-left: 0.5px solid;
	}

	#scroll-sidebar {
		position: -webkit-sticky;
		top: 20px;
		position: sticky;
	}

	.right-content {
		#sidebar {
			border-right: 0.5px solid;
			border-left: none;
		}

		#main-container {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			flex-direction: row-reverse;
		}
	}

	.left-content #contents-wrapper,
	.right-content #contents-wrapper {
		width: calc(100% - 320px);
	}

	/* min-1024px END */
}